<!-- Divider -->
<hr class="sidebar-divider" style="border-top: 1px solid rgb(0 0 0)" />

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Medidas Sanitarias a Productos</h1>
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <label class="mr-sm-2" for="medidaApliProduc">Medida Aplicada</label>
        <select id="medidaApliProduc" name="medidaApliProduc" class="custom-select mr-sm-2">
            <option selected disabled>Seleccione</option>
            <option value="CONGELAMIENTO">CONGELAMIENTO</option>
            <option value="DECOMISO">DECOMISO</option>
            <option value="DESTRUCCIÓN">DESTRUCCIÓN</option>
        </select>
    </div>

    <div class="col-sm-6">
        <label class="mr-sm-2" for="permisoProduco">Permiso o Notificación</label>
        <input type="text" onkeyup="mayus(this);" class="form-control form-control-user" id="permisoProduco"
            name="permisoProduco" list="defaultLote" />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <label class="mr-sm-2" for="productoMed">Producto</label>
        <input type="text" onkeyup="mayus(this);" class="form-control form-control-user" id="productoMed"
            name="productoMed" />
    </div>
    <div class="col-sm-6">
        <label class="mr-sm-2" for="marcaProduct">Marca</label>
        <input type="text" onkeyup="mayus(this);" class="form-control form-control-user" id="marcaProduct"
            name="marcaProduct" list="defaultLote" />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-4">
        <label class="mr-sm-2" for="motivoProduct">Motivo de Aplicación de la Medida</label>
        <input type="text" onkeyup="mayus(this);" class="form-control form-control-user" id="motivoProduct"
            name="motivoProduct" />
    </div>
    <div class="col-sm-4">
        <label class="mr-sm-2" for="presentProduct">Presentación</label>
        <input type="text" onkeyup="mayus(this);" class="form-control form-control-user" id="presentProduct"
            name="presentProduct" />
    </div>
    <div class="col-sm-4">
        <label class="mr-sm-2" for="cantProdu">Cantidad</label>
        <input type="number" value="0" min="0" class="form-control form-control-user monto" id="cantProdu"
            name="cantProdu" />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-4">
        <label class="mr-sm-2" for="fabriProduc">Fabricante</label>
        <input type="text" onkeyup="mayus(this);" class="form-control form-control-user" id="fabriProduc"
            name="fabriProduc" list="defaultLote" />
    </div>
    <div class="col-sm-4">
        <label class="mr-sm-2" for="loteProduc">Lote</label>
        <input type="text" onkeyup="mayus(this);" class="form-control form-control-user" id="loteProduc"
            name="loteProduc" list="defaultLote" />
    </div>
    <div class="col-sm-4">
        <label class="mr-sm-2" for="fechProduc">Fecha de Vencimiento</label>
        <input type="date" class="form-control form-control-user" id="fechProduc" name="fechProduc" />
    </div>
</div>

<datalist id="defaultLote">
    <option value="NO REPORTA"></option>
</datalist>

<div class="form-group row">
    <div class="col-sm-12">
        <label class="mr-sm-2" for="observacionMedProd">Observaciones de Medidas Sanitarias a Productos
            (Opcional)</label>
        <textarea name="observacionMedProd" id="observacionMedProd" maxlength="270" rows="2"
            class="form-control form-control-user"
            placeholder="Escribe las Observaciones Que Creas Necesarias"></textarea>
    </div>
</div>