<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('head'); %>

</head>

<body>
    <div class="container">
        <div class="abs-center">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- 404 Error Text -->
                <div class="text-center">
                    <div class="error mx-auto" data-text="404">404</div>
                    <p class="lead text-gray-800 mb-5">Pagina no
                        Encontrada</p>
                    <p class="text-gray-500 mb-0">Parece que entraste a
                        una dirección erronea...</p>
                    <a href="/admin"> Volver a la pagina
                        principal</a>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>