<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; SETIC 2022</span>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({

            dom: 'Bfrtip',
            responsive: true,
            pageLength: 25,

            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]

        });
    });
</script>
<!-- End of Footer -->