<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark
                accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center
                    justify-content-center" href="/moderador">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-satellite-dish"></i>
        </div>
        <div class="sidebar-brand-text mx-2">Moderador</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" id="nav1">
        <a class="nav-link" href="/moderador">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Panel de Control</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Información
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" id="nav2">
        <a id="navlink1" class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-folder"></i>
            <span>Consolidaciones</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a id="show1" class="collapse-item" href="/moderador/Consolidaciones/NAdministrativas">N.
                    Administrativas</a>
                <a id="show2" class="collapse-item" href="/moderador/Consolidaciones/ESPublica">Eventos Salud
                    Pública</a>
                <a id="show3" class="collapse-item"
                    href="/moderador/Consolidaciones/Establecimientos">Establecimientos</a>
                <a id="show4" class="collapse-item" href="/moderador/Consolidaciones/Vehiculos">Vehiculos</a>
                <a id="show5" class="collapse-item" href="/moderador/Consolidaciones/Cementerios">Cementerios</a>
                <a id="show6" class="collapse-item" href="/moderador/Consolidaciones/Morgues">Morgues</a>
                <a id="show7" class="collapse-item" href="/moderador/Consolidaciones/MSEstablecimientos">M.S.
                    Establecimientos</a>
                <a id="show8" class="collapse-item" href="/moderador/Consolidaciones/MSProductos">M.S. Productos</a>
                <a id="show9" class="collapse-item" href="/moderador/Consolidaciones/Quejas">Quejas</a>
                <a id="show10" class="collapse-item" href="/moderador/Consolidaciones/TomaMuestras">Toma de Muestras</a>
                <a id="show11" class="collapse-item" href="/moderador/Consolidaciones/ViviendaSaludable">Vivienda
                    Saludable</a>
                <a id="show12" class="collapse-item" href="/moderador/Consolidaciones/CarnetsBPM">Carnets BPM</a>
                <a id="show13" class="collapse-item" href="/moderador/Consolidaciones/IVCRotulado">I.V.C. Rotulado</a>
                <a id="show14" class="collapse-item" href="/moderador/Consolidaciones/IVCPublicidad">I.V.C.
                    Publicidad</a>
                <a id="show15" class="collapse-item" href="/moderador/Consolidaciones/EduSanitaria">Educación
                    Sanitaria</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Herramientas
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" id="nav3">
        <a id="navlink2" class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePages"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-solid fa-user"></i>
            <span>Cuentas</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a id="show16" class="collapse-item" href="/moderador/cuentas/Usuarios">Usuarios</a>
                <a id="show17" class="collapse-item" href="/moderador/cuentas/Register">Crear
                    Nuevo
                    Usuario</a>
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>