<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark
                accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center
                    justify-content-center" href="/profesional">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-satellite-dish"></i>
        </div>
        <div class="sidebar-brand-text mx-2">Profesional</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" id="nav1">
        <a class="nav-link" href="/profesional">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Información
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" id="nav2">
        <a id="navlink1" class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-folder"></i>
            <span>Consolidaciones</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a id="show1" class="collapse-item" href="/profesional/consolidaciones/ConsultarC">Consultar</a>
                <a id="show2" class="collapse-item" href="/profesional/consolidaciones/ReportesC">Reportes</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Menu Hoja de Vida -->
    <li class="nav-item" id="nav3">
        <a id="navlink2" class="nav-link collapsed" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="true" aria-controls="collapseThree">
            <i class="fas fa-fw fa-store"></i>
            <span>Hojas de Vida</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a id="show3" class="collapse-item" href="/profesional/HojaVida/ConsultarHV">Consultar</a>
                <a id="show4" class="collapse-item" href="/profesional/HojaVida/InscribirHV">Inscribir</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Herramientas
    </div>

    <!-- Nav Item - Menu Cuentas -->
    <li class="nav-item" id="nav4">
        <a id="navlink3" class="nav-link" href="/profesional/Cuentas/Usuarios" aria-expanded="true">
            <i class="fas fa-fw fa-solid fa-user"></i>
            <span>Cuentas</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>