<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/visitante">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-satellite-dish"></i>
        </div>
        <div class="sidebar-brand-text mx-2">Visitante</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" id="nav1">
        <a class="nav-link" href="/visitante">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Panel de Control</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">Visitas</div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" id="nav2">
        <a id="navlink1" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-folder"></i>
            <span>Consolidaciones</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a id="show1" class="collapse-item" href="/visitante/consolidaciones/NAdministrativas">N.
                    Administrativas</a>
                <a id="show2" class="collapse-item" href="/visitante/consolidaciones/ESPublica">Eventos Salud
                    Pública</a>
                <a id="show3" class="collapse-item"
                    href="/visitante/consolidaciones/Establecimientos">Establecimientos</a>
                <!-- Aqui "active"-->
                <a id="show4" class="collapse-item" href="/visitante/consolidaciones/Vehiculos">Vehiculos</a>
                <a id="show5" class="collapse-item" href="/visitante/consolidaciones/Cementerios">Cementerios</a>
                <a id="show6" class="collapse-item" href="/visitante/consolidaciones/Morgues">Morgues</a>
                <a id="show7" class="collapse-item" href="/visitante/consolidaciones/MSEstablecimientos">M.S.
                    Establecimientos</a>
                <a id="show8" class="collapse-item" href="/visitante/consolidaciones/MSProductos">M.S. Productos</a>
                <a id="show9" class="collapse-item" href="/visitante/consolidaciones/Quejas">Quejas</a>
                <a id="show10" class="collapse-item" href="/visitante/consolidaciones/TomaMuestras">Toma de Muestras</a>
                <a id="show11" class="collapse-item" href="/visitante/consolidaciones/ViviendaSaludable">Vivienda
                    Saludable</a>
                <a id="show12" class="collapse-item" href="/visitante/consolidaciones/CarnetsBPM">Carnets BPM</a>
                <a id="show13" class="collapse-item" href="/visitante/consolidaciones/IVCRotulado">I.V.C. Rotulado</a>
                <a id="show14" class="collapse-item" href="/visitante/consolidaciones/IVCPublicidad">I.V.C.
                    Publicidad</a>
                <a id="show15" class="collapse-item" href="/visitante/consolidaciones/EduSanitaria">Educación
                    Sanitaria</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>