<!-- Divider -->
<hr class="sidebar-divider" style="border-top: 1px solid rgb(0 0 0);">

<div class="form-group row">
    <div class="col-sm-4">
        <label class="mr-sm-2" for="medPubli">Medio Publicitario</label>
        <select id="medPubli" name="medPubli" class="custom-select mr-sm-2">
            <option selected disabled>
                Seleccione
            </option>
            <option value="REVISTA">REVISTA</option>
            <option value="PERIODICO">PERIODICO</option>
            <option value="FOLLETO">FOLLETO</option>
            <option value="VALLA">VALLA</option>
            <option value="VOLANTE">VOLANTE</option>
            <option value="RADIO">RADIO</option>
            <option value="TELEVISION">TELEVISION</option>
            <option value="VEHICULO">VEHICULO</option>
        </select>
    </div>
    <div class="col-sm-8">
        <label class="mr-sm-2" for="permisoSanitario">N° Registro/Permiso/Notificación Sanitario</label>
        <input type="text" placeholder="N. Sanitario" class="form-control form-control-user" id="permisoSanitario"
            name="permisoSanitario" onkeyup="mayus(this);" />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <label class="mr-sm-2" for="productoPublicidad">Producto</label>
        <input type="text" placeholder="Producto" class="form-control form-control-user" id="productoPublicidad"
            name="productoPublicidad" onkeyup="mayus(this);" />
    </div>
    <div class="col-sm-6">
        <label class="mr-sm-2" for="marca">Marca</label>
        <input type="text" placeholder="Marca" class="form-control form-control-user" id="marca" name="marca"
            onkeyup="mayus(this);" />
    </div>
</div>