<!-- Divider -->
<hr class="sidebar-divider" style="border-top: 1px solid rgb(0 0 0);">

<div class="form-group row">
    <div class="col-sm-12">
        <label class="mr-sm-2" for="productoRotulado">Producto</label>
        <input type="text" placeholder="Producto" class="form-control form-control-user" id="productoRotulado"
            name="productoRotulado" onkeyup="mayus(this);" />
    </div>
</div>