<!-- Divider -->
<hr class="sidebar-divider" style="border-top: 1px solid rgb(0 0 0);">

<div class="form-group row">
    <div class="col-sm-12">
        <label class="mr-sm-2" for="productoRotulado">Producto</label>
        <input type="text" placeholder="Producto" class="form-control form-control-user" id="productoRotulado"
            name="productoRotulado" onkeyup="mayus(this);" />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-12">
        <label class="mr-sm-2" for="observacion">Adjuntar
            Archivo(s)</label>
        <div class="fv-row">
            <div class="dropzone" id="dropzone">
                <!--begin::Message-->
                <div class="dz-message needsclick">
                    <!--begin::Icon-->
                    <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                    <!--begin::Info-->
                    <div class="ms-4">
                        <h3 class="fs-5 fw-bold text-gray-900 mb-1">
                            Arrastra archivos aqui o da
                            click para buscar</h3>
                        <span class="fs-7 fw-semibold " style="color: #50525c!important;">Cantidad
                            Maxima de Archivos:
                            10</span>
                        <br>
                        <span class="fs-7 fw-semibold " style="color: #50525c!important;">Peso
                            Maximo:
                            30 MB</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>