<label class="mr-sm-3" for="NecroMorg">¿El Cementerio Cuenta con
  Sala de Necropsia o
  Morgue?</label>
<select id="NecroMorg" name="NecroMorg" class="custom-select mr-sm-2">
  <option selected disabled>
    Seleccione
  </option>
  <option value="SI">SI</option>
  <option value="NO">NO</option>
</select>