<label class="mr-sm-2" for="acta">Tipo de Acta
    Utilizada</label>
<select id="acta" name="acta" class="custom-select mr-sm-2">
    <option selected disabled>
        Seleccione
    </option>
    <option value="ENFOQUE DE RIESGO - PREPARARACIÓN DE ALIMENTOS">
        ENFOQUE DE RIESGO - PREPARARACIÓN DE ALIMENTOS
    </option>
    <option value="ENFOQUE DE RIESGO - EXPENDIOS DE CARNE">
        ENFOQUE DE RIESGO - EXPENDIOS DE CARNE
    </option>
    <option value="ENFOQUE DE RIESGO - EXPENDIOS DE ALIMENTOS">
        ENFOQUE DE RIESGO - EXPENDIOS DE ALIMENTOS
    </option>
    <option value="ENFOQUE DE RIESGO - GRANDES SUPERFICIES">
        ENFOQUE DE RIESGO - GRANDES SUPERFICIES
    </option>
    <option value="ENFOQUE DE RIESGO - ALMACENAMIENTO">
        ENFOQUE DE RIESGO - ALMACENAMIENTO
    </option>
    <option value="ENFOQUE DE RIESGO - VENTA EN VÍA PÚBLICA">
        ENFOQUE DE RIESGO - VENTA EN VÍA PÚBLICA
    </option>
    <option value="ENFOQUE DE RIESGO - EXPENDIOS DE BEBIDAS ALCOHÓLICAS">
        ENFOQUE DE RIESGO - EXPENDIOS DE BEBIDAS ALCOHÓLICAS
    </option>
    <option value="ENFOQUE DE RIESGO - PLAZAS DE MERCADO">
        ENFOQUE DE RIESGO - PLAZAS DE MERCADO
    </option>
    <option value="ENFOQUE DE RIESGO - ENSAMBLES DE ALIMENTOS">
        ENFOQUE DE RIESGO - ENSAMBLES DE ALIMENTOS
    </option>
    <option value="PGIRHS">PGIRHS</option>
    <option value="CEMENTERIOS">CEMENTERIOS</option>
    <option value="ACUEDUCTOS">ACUEDUCTOS</option>
    <option value="PISCINAS">PISCINAS</option>
    <option value="PARA DEPOSITOS, ALMACENES Y EXPENDIOS COMERCIALES DE PLAGUICIDAS">
        PARA DEPOSITOS, ALMACENES Y EXPENDIOS COMERCIALES DE
        PLAGUICIDAS
    </option>
</select>